<footer class="main-footer">

    <div class="seccion1-footer">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Sobre nosotros
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li>Quienes somos</li>
                <li>Contacto</li>
                <li>Terminos de uso</li>
                <li>Privaticy policy</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ayuda
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li>Devoluciones</li>
                <li>FAQ</li>
                <li>Soporte</li>

              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="sinacordeon">
        <div class="redes">Redes Sociales</div>
        <ul class="ul2">
          <li><a class="aFooter" href=""><i class="fa-brands fa-facebook aFooter"></i></a></li>
          <li><a class="aFooter" href=""><i class="fa-brands fa-twitter aFooter"></i></a></li>
          <li><a class="aFooter" href=""><i class="fa-brands fa-instagram aFooter"></i></a></li>
          <li><a class="aFooter" href=""><i class="fa-brands fa-youtube aFooter"></i></a></li>
        </ul>

        <div class="suscrip-forms">
          <div><span>Recibir ofertar y Promos!</span></div>
          <form>
            <div> <input type="text" id="suscripcion" name="suscripcion" placeholder="Ingresa tu email"></div>
            <button class="button" type="button">Suscribir </button>
          </form>
        </div>

        <div class="fin">
          <div class="copy-left">
            <p>&copy; 2023, Group1-C24</p>
          </div>
        </div>
      </div>
    </div>

    <section class="seccion2-footer">
      <div class="container-links-info">
        <div class="logo">
          <figure>
            <img src="/images/logos/logo-normal.png" alt="logo">
          </figure>
          <div class="suscrip-forms-2">
            <div><span>Recibir ofertar y Promos!</span></div>
            <form>
              <div> <input type="text" id="suscripcion" name="suscripcion" placeholder="Ingresa tu email"></div>
              <button type="button">Suscribir </button>
            </form>
          </div>
        </div>

        <div class="container-col-info">
          <div class="ul-info">
            <h5>Sobre nosotros</h5>
            <ul class="link-info">
              <li><a class="afooter" href="">Quienes somos</a></li>
              <li><a class="afooter" href="">Contacto</a></li>
              <li><a class="afooter" href="">Terminos de uso</a></li>
              <li><a class="afooter" href="">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="ul-info">
            <h5>Redes sociales</h5>
            <ul class="link-info">
              <li><a class="afooter" href="">Facebook</a></li>
              <li><a class="afooter" href="">Twitter</a></li>
              <li><a class="afooter" href="">Instagram</a></li>
              <li><a class="afooter" href="">Youtube</a></li>
            </ul>
          </div>
          <div class="ul-info">
            <h5>Ayuda</h5>
            <ul class="link-info">
              <li><a class="afooter" href="">Devoluciones</a></li>
              <li><a class="afooter" href="">FAQ</a></li>
              <li><a class="afooter" href="">Soporte</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="fin">

        <div class="copy-left">
          <p>&copy; 2023, Group1-C24</p>
        </div>

        <div class="right">
          <ul class="iconos-right">
            <li><a class="afooter" href=""><i class="fa-brands fa-facebook aFooter"></i></a></li>
            <li><a class="afooter" href=""><i class="fa-brands fa-twitter aFooter"></i></a></li>
            <li><a class="afooter" href=""><i class="fa-brands fa-instagram aFooter"></i></a></li>
            <li><a class="afooter" href=""><i class="fa-brands fa-youtube aFooter"></i></a></li>
          </ul>
        </div>

      </div>




    </section>


  </footer>
