<header>
    <div class="partSup">
      <a class="primerAheader" href="/"><img class="logoHeader" src="/images/logo.png" alt="logo"></a>
      <i class="fas fa-bars hamb1"></i>
      <div class="logueoHeader">
        <nav>
            
            <ul>
              <% if (!locals.userlogueado) { %>
                <li><a href="#" id="modal-carrito"><i class="fas fa-cart-plus carritoHeader"></i></a></li>
                <li><a href="/user/login"><i class="fa-regular fa-heart coraHeader"></i></a></li>
                <li><a href="/user/register"><i class="fa-regular fa-user userHeader"></i></a></li>
                
              <% } else { %>
                <li><a href="#" id="modal-carrito"><i class="fas fa-cart-plus carritoHeader"></i></a></li>
                <li><a href="/admin"><i class="fa-solid fa-gear ruedaHeader"></i></a></li>
                <li><a href="/user/perfil/<%=locals.userlogueado.id%>">PERFIL</a></li>
              <%}%></ul>

        </nav>
      </div>
    </div>
    <div class="partInf">
      <nav class="navHeader2">
        <ul class="ulInf">
          <!-- <button type="button" class="verMenu"><i class="fas fa-bars hamb2"></i> Ver menú</button> -->
          <li><a href="/productos#papas"> Papas</a></li>
          <li><a href="/productos#pizza"> Pizzas</a></li>
          <li><a href="/productos#hamburguesa"> Hamburguesas</a></li>
          
        </ul>
      </nav>
      <div class="divBusquedaHeader">
        <form action="/search" method="get">
          <input type="text" name="productoBuscado" placeholder="Buscar productos" value="">
          <button value="search" type="submit"><i class="fas fa-search lupaHeader"></i></button >
        </form>
      </div>
    </div>
    
    <div class="modalc" id="modalCarrito">
      <div class="modal-contenido">
        <span class="closeModal"><i class="fa-solid fa-circle-xmark fs-1"></i></span>
        <div class="modalc-header mb-3">
          <span> <i class="fa-solid fa-cart-shopping fs-2"></i></span>
          <h2>Carrito de compras</h2>
        </div>
        <div class="modalc-body" id="modalc-body">
            <!-- DATA -->
        </div>
        <a href="/carrito" class="btn btn-primary">Ir a pagar</a>
      </div>
    </div>
 
    </div>

    <script src="/js/cart/modalCarrito.js"></script>
    
  </header>