<%- include("./partials/head",{title: "ERROR 404",bootstrapActive: true }) %>

<%- include("./partials/header", { userlogueado: userlogueado, productsCart: productsCart }) %>

<div >
    <img src="/images/img-error404.jpg" alt="" style="width: 100%;">
</div>

<%- include("./partials/footer") %>