.main-admin {
    width: 100%;
}

.barraLateral {
    width: 6vw;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(129, 51, 20);
    transition: all 350ms;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraLateral p {
    display: none;
}

.barraLateral .menu i {
    padding: 5px;
    padding-bottom: 15px;
    color: rgb(255 180 100);
    font-size: 25px;
}

.barraLateral .logo {
    padding-top: 15px;
}

.barraLateral .logo img {
    width: 86px;
    display: inline-block;
    padding-right: 1rem;
}

.barraLateral .menu {
    margin-top: 1rem;
    height: 100%;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.barraLateral .menu-ul {
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.barraLateral:hover {
    width: 18vw;
    background: rgba(129, 51, 20, 0.9);
    
}

.barraLateral:hover .logo img {
    width: 100px;
}

.barraLateral:hover .menu .li-dash {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.barraLateral:hover .menu i {
    padding: 5px;
    padding-bottom: 15px;
    color: rgb(255 180 100);
    font-size: 25px;
}

.barraLateral:hover p {
    display: block;
    color: rgb(255 180 100);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5ms;
}

.barraLateral:hover p:hover {
    color: black;

}


.barraLateral:hover .menu a {
    padding-left: 1rem;
    display: block;
    font-size: 1.1rem;
    align-items: center;
}

.main-admin .container-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(129, 51, 20);
}

.container-superior .buscador {
    font-size: medium;
    margin-left: 30%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.buscador i {
    display: inline-block;
    padding: 0.45rem 1rem;
    font-size: 1.5rem;
    background: white;
    color: var(--Naranja)
}

.buscador input {
    width: 25vw;
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.container-superior .adminUser {
    display: inline-block;
    margin-right: 66px;
}

.adminUser img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 8px;
}

.adminUser i {
    color: rgb(255 180 100);
    border-radius: 50%;
    margin-right: .5rem;
    font-size: 30px;
}

.adminUser h5 {
    display: contents;
    color: rgb(255 180 100);
}

.adminUser h6 {
    text-align: center;
    color: rgb(255 180 100);
}

.dashboard-conten {
    text-align: center;
}

.dashboard-conten h1 {
    color: rgba(129, 51, 20, 0.9);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2.5rem;
}

.listaProducts {
    max-width: 1200px;
    height: 52vh;
    overflow-y: scroll;
    display: block;
}

.listaProducts::-webkit-scrollbar {
    display: none;
}

.listaProducts::-webkit-scrollbar-thumb {
    background: transparent;
}

.listaProducts::-webkit-scrollbar-track {
    background: transparent;
}

.listaProducts:hover::-webkit-scrollbar-thumb {
    background: var(--red);
}

.listaProducts:hover::-webkit-scrollbar-track {
    background: var(--red);
}

.listaProducts .img-product {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.tabla {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: 45px;
    padding: 0px 45px;
}

.botonCrear {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}