/* General Styles */
.container-banner {
  border: 2px solid lightgrey;
}

.main-banner figure img {
  width: 100%;
}

.carousel-inner .carousel-item img:nth-child(2),
.carousel-inner .carousel-item img:nth-child(3) {
  display: none;
}

/* Upper Body Section Styles */
.container-main .upper-body {
  margin-top: 50px;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 30px;
}


.container-main .upper-body div h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.container-main .upper-body ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.container-main .upper-body ul li {
  position: relative;
  transition: all 200ms;
}

.container-main .upper-body ul li .upper-body-img {
  width: 30vw;
  display: block;
}

.container-main .upper-body ul li .upper-body-img img {
  width: 100%;
  border: 4px solid var(--Naranja);
  border-radius: 50%;
}

/* .container-main .upper-body ul li .categoria-upper-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
  font-weight: bolder;
  color:black;
  transition: all 300ms;
 

  
} */

/* .container-main .upper-body ul li .categoria-upper-body span:hover {
  color: white;
} */

/* Carousel Section Styles */
.titulo-secciones {
  background-color: var(--Naranja);
  border-radius: 150px 150px 0px 0px;
  color: white;
  margin: 20px 5px 0px 5px;
  border: 1px solid lightgrey;
}

.container-carousel {
  background-color: white;
  /* padding: 25px; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.carousel-titulo h2 {
  margin: 20px;
  padding: 20px;
}

.carousel-control-prev-icon {
  background-image: url("/images/prev.png");
}

.carousel-control-next-icon {
  background-image: url("/images/next.png");
}

/* Article Section Styles */
.container-article {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.container-article .articulos-home:nth-child(3),
.container-article .articulos-home:nth-child(4) {
  display: none;
}

.container-article .articulos-home {
  width: 50%;
  border: 1px solid lightgray;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  display: inline;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 300ms;
  margin-bottom: 5px;
}

.container-article .articulos-home:hover {
  border-color: var(--Naranja);
}

.articulos-home span {
  font-weight: bold;
  font-size: 13px;
}

.articulos-home .precio-off span:nth-child(2) {
  color: var(--Naranja);
  font-size: 11px;
}

.articulos-home .container-img {
  width: 100%;
  height: 160px;
}

.container-article .articulos-home .container-img img {
  width: 100%;
}

.articulos-home .envio-gratis {
  color: var(--Naranja);
  font-size: 10px;
  font-weight: bolder;
}

.articulos-home .button-container {
  margin-top: 15px;
 text-align: center;
}

.articulos-home .button-container button {
  background: var(--Naranja);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  padding: 2px;
  width: 90%;
}

.container-article .articulos-home i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: red;
}

.container-article .articulos-home .fa-plus {
  color: black;
  font-size: 12px;
}

.anuncio {
  display: flex;
  gap: 5px;
  padding: 15px;
}

.anuncio .card-anuncio {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.anuncio .card-anuncio div {
  width: 100%;
  padding: 0px 5px;
  background-color: white;
}
.anuncio .card-anuncio div span {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: -0.5px;
  color: grey;
}

.anuncio .container-banner-anuncio {
  width: 100%;
  margin: 0;
}

.anuncio .container-banner-anuncio img {
  width: 100%;
}

.section-shop-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  padding: 5px 24px 20px;
  width: 100%;
  text-align: center;
}

.info-item figure {
  height: 55px;
}

.info-item figure img {
  vertical-align: middle;
  width: auto;
}

.info-item h2 {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin: 16px 0 0;
}

.info-item p {
  color: #737373;
  font-size: 15px;
  line-height: 1.2;
  margin: 4px 0 10px;
}

/* Tablet Styles */
@media (min-width: 400px) {
  .carousel-inner .banner-version img:nth-child(1),
  .carousel-inner .banner-version img:nth-child(3) {
    display: none;
  }

  .carousel-inner .banner-version img:nth-child(2) {
    display: flex;
  }

 
  .container-main .upper-body ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .container-main .upper-body ul li {
    width: 22%;
  }

  .container-main .upper-body ul li:hover {
    transform: scale(1.2);
  }

  .container-article .articulos-home {
    width: 30%;
  }

  .container-article .articulos-home:nth-child(3) {
    display: block;
  }
  .anuncio .card-anuncio {
    margin: 20px;
  }
  .section-shop-info {
   align-items: center;
}
.info-item {
  width: 75%;
}
}

/* Desktop Styles */
@media (min-width: 769px) {
  .carousel-inner .banner-version img:nth-child(2) {
    display: none;
  }

  .carousel-inner .banner-version img:nth-child(3) {
    display: flex;
  }

  .container-main .upper-body ul li {
    width: 20%;
  }

  .container-main .upper-body ul li .upper-body-img {
    margin: 10px;
    width: 17vw;
  }

 
  .container-main .upper-body div h2 {
    font-size: 2rem;
  }

  .container-main .upper-body ul li div span {
    font-size: 1.5rem;
  }

  .container-article .articulos-home {
    width: 19%;
  }

  .container-article .articulos-home:nth-child(4) {
    display: block;
  }

  .section-shop-info{
    flex-direction: row;
    justify-content: center;
  }
  .info-item {
    
    width: 33%}
}
