.mainProfileUser{
    background-image: url("/images/logos/fondoProfile2.png");
    width: auto;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerProfile label, h6 {
 color: var(--Blanco);
}
.profileUserDiv1{
    color: var(--Blanco);
    padding-left: 30px;
}
.perfilProfileUser{
    color: var(--Blanco);
}